
<style type="text/css">
	.fly
	{	clear: left;
		float: left;
		margin-bottom: 10px;
	}

	.inbox
	{	float: right;
		width: 80%;
		height: 400px;
		border:3px solid blue;
	}

	.leftBar
	{
		float: left;
		width: 30%;
		height: 500px;
		border:3px solid blue ;
		margin: 0 auto;
	}

	.content
	{
		float: left;
		width: 68%;
		height: 500px;
		border:3px solid blue ;
	}

	

	.form-bottom input.ng-invalid.ng-touched,.form-bottom textarea.ng-invalid.ng-touched {
    	background-color: #FA787E;
  	}

  	.forms-group input.ng-valid.ng-touched {
   
  }

  

.try input
{
	padding: 20px 20px;
	    border: 3px solid #ddd;
	    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
}


.myinboxTemp
{
	clear: both;
}

#refresh
{
	float: left;
	padding: 10px 15px 10px 15px;
	margin-bottom: 20px;
}

#searches
{
	clear: both;
}

td:hover
{
	cursor: pointer;
}


#myemails
{
	
}
#mymsg
{
	
	clear: both;
	margin-left: 3px;
}

#back
{
	clear: both;
	float: left;
	margin-bottom: 5px;
	
}

#sub
{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid #cccccc;
	width: 100%;

}

#sub,#flname,#msg
{
	text-align: left;
	font-size: 20px;
	
}
th
{
	text-align: center;
}

.contain
{
	padding: 10px;
}

#compose
{
	 background-color: #f44336;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: white;font-size: 20px;
    display: inline-block;
}

#compose:hover
{
	text-decoration: none;
}
.cmps
{
	color: white;text-align: center;
    text-decoration: none;

}
#inbox:hover,#sent:hover
{
	text-decoration: none;
}
#inbox,#sent
{
	text-decoration: none;
	font-size: 20px;
	padding: 5px 5px;
}

#msg
{
	float: left;
	width: 500px;
	height: 300px;
	border :2px solid #eeeeee;
	padding: 10px;
	margin-top: 10px;
	    background-color: #eeeeee;
}

a:link,a:active
{
	text-decoration: none;
	color: white;
}

img
{
	background-color: #cccccc;
	float: left;
	margin-right: 10px;
}

#semail
{
	font-size: 14px;
	margin-left: 3px;
}

#back
{
	width: 50px;
	height: 30px;
}

.contain input
{
	    border: 8px solid #ddd;
}

tr.count-0 td {
         background: #bbbbbb;

}

#login
{
    display: none;
}
#logout
{
    display: inline;
}

</style>
<h1>Welcome {{fname}}{{lname}}</h1>
<div class="container">
	<div class="leftBar">
		<div  class="fly"><button id="compose"><a class="cmps" href="#/compose">Compose</a></button></div>
		<div  class="fly"><button id="inbox"><a href="#/myinboxmsg">Inbox({{msgcount}})</a></button></div>
		<div  class="fly"><button id="sent"><a href="#/mysentboxmsg">SentBox</a></button></div>
	</div>
	<div class="content">
		<div id="ComposeEmail" ng-show="cmp">
			<div class="form-bottom">                
  				<form name="userForm" novalidate>				      
				      <div class="form-group" show-errors>
				      <div class="try">
				        <label class="control-label">Email</label>
				        <input type="email" class="form-control" name="email" ng-model="compose.emailTo" required placeholder="Email" />
				        </div>
				      </div>
				      <div class="form-group">
				        <label class="control-label">Subject</label>
				        <input type="text" class="form-control" name="name" ng-model="compose.subject"  placeholder="Name" />
				      </div>
				      <div class="form-group">
				        <label class="control-label">Message</label>
				        <textarea type="text" class="form-control" name="message" ng-model="compose.message"  placeholder="Enter your email here....." required></textarea >
				      </div>
				      <!-- <input type = "file" file-model = "compose.file"/> -->
				      <!-- <input type="file" file-model="myFile"/>
    				  <button ng-click="uploadFile()">upload me</button>
 -->				      <button ng-click="sendEmail()">Send</button>
				      
		    </div>
		</div>
		<div id="inboxMails" ng-show="ins" class= "contain">
			<h1>Inbox</h1>
			<!-- <button id="refresh" ng-click="refreshData()">Refresh</button> -->
			<div class="form-group"  id="searches">
            	<label ></label>
            	<input type="text" ng-model="search" class="form-control" placeholder="Search">
        	</div>
			<div class="myinboxTemp">

					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th>From</th>
					      <th>Subject</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr  dir-paginate="x in myinbox | itemsPerPage : 4 | filter:search" class="count-{{ x.count }}">
					      	<td scope="row" ng-click="myfunc($index,x._id)">{{x.senderEmail}}</td>
					      	<td scope="row" ng-click="myfunc($index,x._id)">{{x.subject}}</td>
					    </tr>
					  </tbody>
					</table>

					<dir-pagination-controls
					   template-url="partials/dirPagination.tpl.html"
				       max-size="5"
				       direction-links="true"
				       boundary-links="true" >
		    		</dir-pagination-controls>
			</div>
		</div>

		<div id="sentEmails"  ng-show="sent">
			 
			<div class="myinboxTemp">
					<h1>Sentbox</h1>
					<div class="contain">
					<div class="form-group" >
		            	<label ></label>
		            	<input type="text" ng-model="search" class="form-control" placeholder="Search">
		        	</div>
		        	</div>
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th>To</th>
					      <th>Subjects</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr  dir-paginate="x in mysentbox | itemsPerPage : 4 | filter:search">
					      <td scope="row" ng-click="myfuncs($index,x._id)">{{x.emailTo}}</td>
					      <td scope="row" ng-click="myfuncs($index,x._id)">{{x.subject}}</td>
					    </tr>
					  </tbody>
					</table>
			</div>
			<dir-pagination-controls
				template-url="partials/dirPagination.tpl.html"
		       max-size="5"
		       direction-links="true"
		       boundary-links="true" >
    		</dir-pagination-controls>
		</div>

		<div id="myemails" ng-show="myemails">
			<button ng-click="backFunc()" id="back">Back</button>
			<div id="mymsg">
				<div id="sub">Subject:{{mymessage.subject}}</div>
				<div class="contain">
					<img src="https://ssl.gstatic.com/ui/v1/icons/mail/profile_mask2.png">
					<div id="flname">{{mymessage.senderFname}} {{mymessage.senderLname}}<span id="semail"><{{mymessage.senderEmail}}></span></div>
					<div id="msg">{{mymessage.message}}</div>
				</div>
			</div>
		</div>

		<div id="mysentemails" ng-show="mysentemails">
			<button ng-click="backSentFunc()" id="back">Back</button>
			<div id="mymsg">
				<div id="sub">Subject:{{mysentmessages.subject}}</div>
				<div class="contain">
					<img src="https://ssl.gstatic.com/ui/v1/icons/mail/profile_mask2.png">
					<div id="flname">Email:{{mysentmessages.emailTo}}</div>
					<div id="msg">{{mysentmessages.message}}</div>
				</div>
			</div>
		</div>

		
	
</div>
	
	





  
  






