
<style type="text/css">

		#login
	{
	    display: none;
	}
	#logout
	{
	    display: inline;
	}
	
#bold
{
	font-weight: bold;
}

</style>
<h1>Welcome {{fname}}{{lname}}</h1>
<div class="container">
	<div class="leftBar">
		<div  class="fly"><button id="compose"><a class="cmps" href="#/compose">Compose</a></button></div>
		<div  class="fly"><button id="inbox"><a href="#/myinboxmsg">Inbox({{msgcount}})</a></button></div>
		<div  class="fly"><button id="sent"><a href="#/mysentboxmsg">SentBox</a></button></div>
	</div>
	<div class="content">
		<div id="ComposeEmail" ng-show="cmp">
			<div class="form-bottom">                
  				<form name="userForm" novalidate>				      
				      <div class="form-group" show-errors>
				      <div class="try">
				        <label class="control-label">Email</label>
				        <input type="email" class="form-control" name="email" ng-model="compose.emailTo" required placeholder="Email" />
				        </div>
				      </div>
				      <div class="form-group">
				        <label class="control-label">Subject</label>
				        <input type="text" class="form-control" name="name" ng-model="compose.subject"  placeholder="Name" />
				      </div>
				      <div class="form-group">
				        <label class="control-label">Message</label>
				        <textarea type="text" class="form-control" name="message" ng-model="compose.message"  placeholder="Enter your email here....." required></textarea >
				      </div>
				      <button ng-click="sendEmail()">Send</button>
				</form>     
		    </div>
		</div>
		<div id="inboxMails" ng-show="ins" class= "contain">
			<h1>Inbox</h1>
			<!-- <button id="refresh" ng-click="refreshData()">Refresh</button> -->
			<div class="form-group"  id="searches">
            	<label ></label>
            	<input type="text" ng-model="search" class="form-control" placeholder="Search">
        	</div>
			<div class="myinboxTemp">

					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th>From</th>
					      <th>Subject</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr  dir-paginate="x in myinbox | itemsPerPage : 4 | filter:search" class="count-{{ x.count }}">
					      	<td scope="row" ng-click="myfunc($index,x._id)">{{x.senderEmail}}</td>
					      	<td scope="row" ng-click="myfunc($index,x._id)">{{x.subject}}</td>
					    </tr>
					  </tbody>
					</table>

					<dir-pagination-controls
					   template-url="partials/dirPagination.tpl.html"
				       max-size="5"
				       direction-links="true"
				       boundary-links="true" >
		    		</dir-pagination-controls>
			</div>
		</div>

		<div id="sentEmails"  ng-show="sent">
			 
			<div class="myinboxTemp">
					<h1>Sentbox</h1>
					<div class="contain">
					<div class="form-group" >
		            	<label ></label>
		            	<input type="text" ng-model="search" class="form-control" placeholder="Search">
		        	</div>
		        	</div>
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th>To</th>
					      <th>Subjects</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr  dir-paginate="x in mysentbox | itemsPerPage : 4 | filter:search">
					      <td scope="row" ng-click="myfuncs($index,x._id)">{{x.emailTo}}</td>
					      <td scope="row" ng-click="myfuncs($index,x._id)">{{x.subject}}</td>
					    </tr>
					  </tbody>
					</table>
			</div>
			<dir-pagination-controls
				template-url="partials/dirPagination.tpl.html"
		       max-size="5"
		       direction-links="true"
		       boundary-links="true" >
    		</dir-pagination-controls>
		</div>

		<div id="myemails" ng-show="myemails">
			<button ng-click="backFunc()" id="back">Back</button>
			<div id="mymsg">
				<div id="sub">Subject:{{mymessage.subject}}</div>
				<div class="contain">
					<img id="profileImg" src="https://ssl.gstatic.com/ui/v1/icons/mail/profile_mask2.png">
					<div id="flname">{{mymessage.senderFname}} {{mymessage.senderLname}}<span id="semail"><{{mymessage.senderEmail}}></span></div>
					<div id="msg">{{mymessage.message}}</div>
				</div>
				
			</div>
			<div class="reply">
				<img id="profileImg2" src="https://ssl.gstatic.com/ui/v1/icons/mail/profile_mask2.png">
				<div class="clicks">
					<p>Click here to <a id="forwardMsg" href="#/forwardMsg">Forward</a><p>
				</div>
			</div>
		</div>

		<div id="forward" ng-show="forward">
			<div class="forwardBox">	
				<form>				      
				      <div class="form-group" show-errors>
				      <div class="try">
				        <input type="email" class="form-control" name="email" ng-model="forwardEmail" required placeholder="To"/>
				       </div>
				       <!-- {{forwardMsg}} -->
				       <div class="forwardContent">
				        	<p> Forwarded message </p>
				        	<p>From: <span id="bold">{{forwardMsg.senderFname}} {{forwardMsg.senderLname}}</span> <{{forwardMsg.senderEmail}}></p>
				        	<p>Subject: {{forwardMsg.subject}}</p>
				        	<p>Message : {{forwardMsg.message}}</p>
				        </div>
				      </div>
				      <button ng-click="sendForwardEmail()">Send</button>
				</form>     
			</div>
		</div>

		<div id="mysentemails" ng-show="mysentemails">
			<button ng-click="backSentFunc()" id="back">Back</button>
			<div id="mymsg">
				<div id="sub">Subject:{{mysentmessages.subject}}</div>
				<div class="contain">
					<img id="profileImg" src="https://ssl.gstatic.com/ui/v1/icons/mail/profile_mask2.png">
					<div id="flname">Email:{{mysentmessages.emailTo}}</div>
					<div id="msg">{{mysentmessages.message}}</div>
				</div>
			</div>
			<div class="reply">
				<img id="profileImg2" src="https://ssl.gstatic.com/ui/v1/icons/mail/profile_mask2.png">
				<div class="clicks">
					<p>Click here to <a id="forwardMsg" href="#/forwardMsg">Forward</a><p>
				</div>
			</div>
		</div>

		
	
</div>
	
	





  
  






