<style type="text/css">
.try input
{
	padding: 20px 20px;
	    border: 3px solid #ddd;
	    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
}

.form-bottom input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .form-bottom input.ng-valid.ng-touched {
    
  }


</style>


<div class="top-content">
        	<div class="inner-bg" id="pad">
                <div class="container">	                  
                    <div class="row">
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Login to our site</h3>
	                            		<p>Enter username and password to log on:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-key"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                   
				                    <form name="userForm" novalidate>
									      
									      <div class="form-group" show-errors>
									      <div class="try">
									        <label class="control-label">Email</label>
									        <input type="email" class="form-control" name="email" ng-model="user.email" required placeholder="Email" />
									        </div>
									      </div>
									      <div class="form-group" show-errors>
									        <label class="control-label">Password</label>
									        <input type="password" class="form-control" name="password" ng-model="user.password" required placeholder="Password" />
									      </div>
									      
									     <button type="submit" class="btn" ng-click="loginSubmit()">Sign in!</button>
									</form>
			                    </div>
		                    </div>
	                        
                        </div>
                        
                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>
                        	
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Sign up now</h3>
	                            		<p>Fill in the form below to get instant access:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form"  nonvalidate class="registration-form" name="signupForm">
				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-first-name">First name</label>
				                        	<input type="text" name="form-first-name" required placeholder="First name..." class="form-first-name form-control" id="form-first-name" ng-model="signup.fname">
				                        </div>
				                        <div class="form-group" show-errors>
				                        	<label class="sr-only" for="form-last-name">Last name</label>
				                        	<input type="text" name="form-last-name"  required placeholder="Last name..." class="form-last-name form-control" id="form-last-name" ng-model="signup.lname">
				                        </div>

				                       <div class="form-group" show-errors>
				                    		<div class="try">
				                    		<label class="sr-only" for="form-username">Email</label>
				                        	<input type="email" name="form-username" required placeholder="Email" class="form-username form-control" id="form-username" ng-model="signup.email">
				                        	</div>
				                        </div>
				                        

									      
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-password">Password</label>
				                        	<input type="password" name="form-email" required placeholder="Password" class="form-password form-control" id="form-password" ng-model="signup.password">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-about-yourself">About yourself</label>
				                        	<textarea name="form-about-yourself" placeholder="About yourself..." 
				                        				class="form-about-yourself form-control" id="form-about-yourself" ng-model="signup.about"></textarea >
				                        </div>
				                        <button type="submit" class="btn" ng-click="signUp()"  ng-click="loginSubmit()">Sign me up!</button>

				                    </form>
				                    </div>
				                    
			                    </div>
                        	</div>
                        	
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>

         